@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap");

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url("../assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono";
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2;
  min-height: 100vh;
  min-width: 100vw;
  /* text-shadow: 0.1px 0.1px 0.1px #fff; */
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: crosshair;
}

.wrapper {
  max-width: 963px;
  min-height: 100wh;
  border: 2px solid white;
  background: black !important;
  z-index: 999;
}

.iso {
  max-width: 963px;

  background: black !important;
  z-index: 999;
}

a {
  color: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2d313c;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b5f67;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5b5f67;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

h1,
h2 {
  /* font-size: clamp(3.8rem, 8vw, 6rem); */
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: clamp(2.2rem, 4vw, 3.3rem);
}

li.workshop::before {
  // list-style-type: square;
  content: "· ";
}

.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.episode__number {
  font-size: 10vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
}

.episode__content {
  border-top: 2px solid #fff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content .title {
  font-weight: 600;
}

.episode__content .story {
  line-height: 26px;
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}

// .workshop {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
// }
// .toast::before {
//   content: "Whitepaper";

//   // -webkit-text-fill-color: transparent;
//   // -webkit-text-stroke: 2px #000;
//   position: relative;
//   left: 170px;
// }

.title-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

.text-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

.roadmap-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 22%;
    bottom: 0;
    // width: 100%;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

.drawer-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 28%;
    left: 5.5%;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

.mini-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // width: 100%;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}

input:focus {
  outline: none;
  border: none;
}

// 1ST IMAGES ROW
.leaf {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.leaf div {
  top: 10%;
  position: absolute;
  overflow-x: hidden;
}

.leaf div {
  animation: fall 15s linear infinite;
  overflow-x: hidden;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

// start 1st round
.leaf div:nth-child(1) {
  animation: fall 15s linear infinite;
  animation-delay: -1.875s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf div:nth-child(2) {
  animation: fall 15s linear infinite;
  animation-delay: -3.75s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf div:nth-child(3) {
  animation: fall 15s linear infinite;
  animation-delay: -5.625s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf div:nth-child(4) {
  animation: fall 15s linear infinite;
  animation-delay: -7.5s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf div:nth-child(5) {
  animation: fall 15s linear infinite;
  animation-delay: -9.375s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf div:nth-child(6) {
  animation: fall 15s linear infinite;
  animation-delay: -11.25s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf div:nth-child(7) {
  animation: fall 15s linear infinite;
  animation-delay: -13.125s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf div:nth-child(8) {
  animation: fall 15s linear infinite;
  animation-delay: -15s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}
// end 1st round

// START 2ND ROW
.fael {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.fael div {
  top: 40%;
  position: absolute;
}

.fael div {
  animation: llaf 15s linear infinite;
  overflow-x: hidden;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

// start 2nd round
.fael div:nth-child(1) {
  animation: llaf 15s linear infinite;
  animation-delay: -1.875s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.fael div:nth-child(2) {
  animation: llaf 15s linear infinite;
  animation-delay: -3.75s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.fael div:nth-child(3) {
  animation: llaf 15s linear infinite;
  animation-delay: -5.625s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.fael div:nth-child(4) {
  animation: llaf 15s linear infinite;
  animation-delay: -7.5s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.fael div:nth-child(5) {
  animation: llaf 15s linear infinite;
  animation-delay: -9.375s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.fael div:nth-child(6) {
  animation: llaf 15s linear infinite;
  animation-delay: -11.25s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.fael div:nth-child(7) {
  animation: llaf 15s linear infinite;
  animation-delay: -13.125s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.fael div:nth-child(8) {
  animation: llaf 15s linear infinite;
  animation-delay: -15s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}
// end 2nd round

@keyframes fall {
  0% {
    left: -20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 120%;
  }
}

@keyframes llaf {
  0% {
    right: -20%;
  }
  50% {
    right: 50%;
  }
  100% {
    right: 120%;
  }
}

// 1ST IMAGES ROW
.leaf2 {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.leaf2 div {
  top: 70%;
  position: absolute;
  overflow-x: hidden;
}

.leaf2 div {
  animation: fall 15s linear infinite;
  overflow-x: hidden;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

// start 1st round
.leaf2 div:nth-child(1) {
  animation: fall 15s linear infinite;
  animation-delay: -1.875s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf2 div:nth-child(2) {
  animation: fall 15s linear infinite;
  animation-delay: -3.75s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf2 div:nth-child(3) {
  animation: fall 15s linear infinite;
  animation-delay: -5.625s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf2 div:nth-child(4) {
  animation: fall 15s linear infinite;
  animation-delay: -7.5s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf2 div:nth-child(5) {
  animation: fall 15s linear infinite;
  animation-delay: -9.375s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf2 div:nth-child(6) {
  animation: fall 15s linear infinite;
  animation-delay: -11.25s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf2 div:nth-child(7) {
  animation: fall 15s linear infinite;
  animation-delay: -13.125s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.leaf2 div:nth-child(8) {
  animation: fall 15s linear infinite;
  animation-delay: -15s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}
// end 1st round

.sign-up {
  height: calc(100% - 100px);
}

// Spinner
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

table,
td {
  border-bottom-width: 0 !important;
}
