@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono'), url('../assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2;
  min-height: 100vh;
  min-width: 100vw;
  /* text-shadow: 0.1px 0.1px 0.1px #fff; */
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 963px;
  // min-height: 100wh ;
  border: 2px solid white;
  background: black !important;
  z-index: 999;
}

.iso {
  max-width: 963px;

  background: black !important;
  z-index: 999;
}

a {
  color: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2d313c;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b5f67;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5b5f67;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

h1,
h2,
.pozey {
  /* font-size: clamp(3.8rem, 8vw, 6rem); */
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: clamp(2.2rem, 4vw, 3.3rem);
}

li.workshop::before {
  // list-style-type: square;
  content: '· ';
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}

// .workshop {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
// }
// .toast::before {
//   content: "Whitepaper";

//   // -webkit-text-fill-color: transparent;
//   // -webkit-text-stroke: 2px #000;
//   position: relative;
//   left: 170px;
// }

.title-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

.roadmap-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 22%;
    bottom: 0;
    // width: 100%;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

.drawer-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 28%;
    left: 5.5%;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

.mini-glitch {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  z-index: 1;

  &:before,
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // width: 100%;
  }

  &:before {
    color: #9945ff;
    z-index: -1;
  }

  &:after {
    color: #14f195;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}

input:focus {
  outline: none;
  border: none;
}

.sign-up {
  height: calc(100% - 100px);
}

// Spinner
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
