@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono'), url('../assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2;
  min-height: 100vh;
  min-width: 100vw;
  /* text-shadow: 0.1px 0.1px 0.1px #fff; */
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2d313c;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b5f67;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5b5f67;
}

#yoursolanabro {
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 25px;
  }
}
